body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-style: oblique;
    background-color: rgba(9, 9, 39, 0.874);
    color: whitesmoke;
    border: 12px blue dotted;
    border-radius: 30px;
    /* animation: spin 10s linear infinite; */
    padding: 20px;
    margin: 10px;
    box-shadow: 8px 15px 13px rgb(114, 162, 210);
    background: linear-gradient(to right, rgb(7, 7, 7), pinrgb(255, 255, 255))
}



a {
    text-decoration: none;
}

h2 {
    font-size: 150%; 
    text-align: left;
    color: blue;
}

h2:hover {
    color: aqua;
    font-size: 170%;
}

p {
    text-align: justify;
}

.property {
    display: inline;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: rgb(0, 253, 0);
    border: 12px black solid;
}

u {
    font-style: italic;
    font-size: larger;
}